.content{
  width: 100%;
  padding: 20px 0px; 
  display:flex;
  justify-content: center;
  flex-direction: row;
  font-family:"Open Sans","Helvetica","Arial",sans-serif;
  color:blue;
}
.content > div{
  padding: 10px;
}