.LeftCol div {
  padding: 20px 0px;
}
.PageLinks {
  padding: 20px 0px;
}
.PageLinks div {
  padding: 0px;
}
.SiteTitle {
  font-size: xx-large;
  color: #551A8B;
  font-family:'Times New Roman', Times, serif;
}