.LocationDiv {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.LocationsList {
  font-size: small;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.LocationHeader {
  width:90%;
  font-size:small;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 5px;
  font-weight:bold;
}
